In [154]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
apikey = 'IITYZ49L2LBBLXKG'
stock_name = 'TSLA'
interval = '60min'
func = 'TIME_SERIES_WEEKLY'
url = f'https://www.alphavantage.co/query?function={func}&symbol={stock_name}&interval={interval}&apikey={apikey}'
#url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={stock_name}&apikey={apikey}'
print('url=>',url)
r = requests.get(url)
if r.status_code == 200:
    data = r.json()
else:
    print(r.status_code)
    print('there was a problem')

url=> https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol=TSLA&interval=60min&apikey=IITYZ49L2LBBLXKG

In [148]:
import pandas as pd

In [158]:
df = pd.DataFrame(data['Time Series (60min)']).T

KeyError: 'Time series (60min)'

In [ ]:
df.index = pd.to_datetime(df.index)

ParserError: Unknown string format: 1. Information

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2022-09-29 17:00:00 to 2022-10-07 20:00:00
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    object
 1   2. high    100 non-null    object
 2   3. low     100 non-null    object
 3   4. close   100 non-null    object
 4   5. volume  100 non-null    object
dtypes: object(5)
memory usage: 4.7+ KB

AttributeError: 'NoneType' object has no attribute 'head'

                      1. open   2. high    3. low  4. close 5. volume
2022-10-07 11:00:00  230.2000  231.4900  228.0100  228.4700  13616795
2022-10-07 12:00:00  228.4600  229.4799  225.8900  226.1300  10790198
2022-10-07 13:00:00  226.1350  226.1800  222.0900  223.2952  14774959
2022-10-07 14:00:00  223.2700  225.0600  222.2300  223.7483   9352256
2022-10-07 15:00:00  223.7400  224.3200  222.7100  223.6550   6445860
2022-10-07 16:00:00  223.6300  224.6500  222.0200  223.0800  12239461
2022-10-07 17:00:00  223.0700  223.1700  222.3300  222.4500   1089437
2022-10-07 18:00:00  222.4700  223.0600  221.7500  222.1560    227905
2022-10-07 19:00:00  222.2600  223.0700  222.0000  222.4000    411466
2022-10-07 20:00:00  222.4000  223.9300  222.2200  223.8000    210863